@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height: 21px;
	color:#2f2f2f;
	position:center;
}
.image_class{
width:180px;
height:170px;
}
a{ outline-style:none; text-decoration:none}
img{ border:0}
.center{ margin:0 auto}
.center1
{
margin:auto;
width:980px;
height: 600px;

}
#imagery{

	overflow:hidden;
	margin:auto;
}
html,body{margin:0;padding:0}
p {margin:0 0 1em 0;padding:0}
h1{margin:0 0 .7em 0;padding:0}

.example { position: relative;  }
.example img { max-width: 100%; max-height: 100%; }
.overlay { position: absolute; width:980px; top:275px;}
.example:hover .overlay { display: block; }

form {margin:0;padding:0}
.main_wrapper {
width: 980px;
margin: 0 auto;
}


#colsingle1 {
float: left;
width: 22%;
position: relative;
right: 0%;


}
#colsingle2 {
float: left;
width: 29%;
position: relative;
left: 1%;

}
#colsingle3 {
float: left;
width: 24%;
position: relative;
left:0%;

}
#colsingle4 {
float: left;
width: 25%;
position: relative;
left: 99%;
}
#colsingle4b {
float: left;
width: 0%;
position: relative;
left: -28%;
}
#containersingle4 {
    float:left;
    width:100%;
border: solid 1px #cacaca;
    overflow:hidden;
    position:relative;
background: #dbdbdb;
}
#containersingle3 {
float: left;
width: 100%;

position: relative;
right: 23%;
}
#containersingle2 {
float: left;
width: 100%;

position: relative;
right: 27%;
}
#containersingle1 {
float: left;
width: 99%;
position: relative;
right: -51%;

}
#container3 {
    float:left;
    width:100%;
border-left: 1px solid #22516F;
border-right: 1px solid #22516F;
    position:relative;
	right:24%;
}
#container2 {
    float:left;
    width:100%;
border-left: 1px solid #22516F;
border-right: 1px solid #22516F;
    position:relative;
    right:13%;
}
#container1 {
    float:left;
    width:100%;
border-left: 1px solid #22516F;
border-right: 1px solid #22516F;
    position:relative;
    right:14%;
}
#col1 {
    float:left;
    width:10%;
    position:relative;
    left:89%;

}
#col2 {
    float:left;
    width:12%;
    position:relative;
    left:91%;

}
#col3 {
    float:left;
    width:11%;
    position:relative;
    left:93%;

}
#container7 {
    float:left;
    width:100%;
border: 1px solid #22516F;
    overflow:hidden;
    position:relative;
background: white;
}
#container6 {
    float:left;
    width:100%;
border-left: 1px solid #22516F;
border-right: 1px solid #22516F;
    position:relative;
    right:10%;
}
#container5 {
    float:left;
    width:100%;

border-left: 1px solid #22516F;
border-right: 1px solid #22516F;
    position:relative;
    right:11%;
}
#container4 {
    float:left;
    width:100%;

    position:relative;
    right:17%;
border-left: 1px solid #22516F;
border-right: 1px solid #22516F;
}
#col4 {
    float:left;
    width:22%;
    position:relative;
    left:95%;

}
#col5 {
    float:left;
    width:16%;
    position:relative;
    left:96%;

}
#col6 {
    float:left;
    width:10%;
    position:relative;
    left:97%;
}
#col7 {
    float:left;
    width:9%;
    position:relative;
    left:98%;
}
#containerfront3 {
    float:left;
    width:100%;
border: solid 1px #cacaca;
    overflow:hidden;
    position:relative;
background: white;
border:1px solid black;
}

#containerfront1 {
    float:left;
    width:110%;
border:1px solid black;

    position:relative;
    right:85%;
}
#colfront1 {
    float:left;
    width:21%;
    position:relative;
    left:78%;
border:1px solid black;
}

#colfront3 {
    float:left;
    width:69%;
    position:relative;
    left:80%;
border:1px solid black;
}

.main_section{
width:980px;
margin:auto;
height:inherit;

background: #fff;
}
.walleto_main_image1{
height: 216px;
width: 254px;
background:white;
border: solid 1px #cacaca;

}
.walleto_main_image2{
height: 153px;
width: 24%;
display:inline-block;

}
.walleto_main_image3{
height: 153px;
width: 18%;
display:inline-block;
position:absolute;
background:#d9dde3;

}

.mainside{
float:left;
margin:auto;

}
#header {
width: 100%;
margin: auto;
display: inline-block;
}

#header .top-bar-bg
{
	width:84%;
	overflow:hidden;
	margin:auto;
	 
}


#header .top-bar-bg .top-bar
{
	width:960px;

	margin:auto;
	color:white;
}


#header .middle-header-bg
{
	width:100%;
	overflow:inherit;
	margin:auto;

}


#header .middle-header-bg .middle-header
{
	
	height:auto;
	
	margin:auto; 
	position:relative;

}
.my_box3_breadcrumb
{
	background:#F5F5F1;
		-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

.box_content
{

	padding-top:5px;
	font-size:14px;
	display:inline-block;
	width:100%;
	/*color:15063D*/
	color:black;
	padding-left:15px;
}
.box_content10
{

	padding-top:5px;
	font-size:14px;
	display:inline-block;
	width:100%;
	/*color:15063D*/
	color:black;
	padding-left:15px;
	padding-bottom:20px;
}
.box_content3
{


	display:inline-block;

	/*color:15063D*/
	color:black;
	padding-left:15px;
}

.box_content1
{

	font-size:11px;
	display:inline-block;
	width:100%;
	/*color:15063D*/
	color:black;
	padding-top:5px;
	padding-bottom:5px;
	
}
.box_content1 td
{

text-align:center;
	
}
.box_content2
{

	font-size:11px;

	/*color:15063D*/
	color:black;
}

  .my_quote_id2
{
	
	display: inline;
	font-size: 14px;
	margin-bottom: 10px;
	font-size: 14px;
	color: white;
	font-weight: bold;
	padding: 0px 0px 5px 58px;
	
}
.paid_ok_thing
{
font-size:12px;
font-weight:bold;
}
.five
{
width:5%;
list-style: none;
padding:0px;
text-align:center;
}
.ten
{
width:10%;
list-style: none;
padding:0px;
text-align:center;
}
.sixteen
{
width:24%;
list-style: none;
padding:0px;
text-align:center;
}
.fifteen
{
width:16%;
list-style: none;
padding:0px;
text-align:center;
}

.eighteen
{
width:18%;
word-wrap:break-word;
list-style: none;
padding:0px;
text-align:center;
}
.eighteen1
{
width:19%;
word-wrap:break-word;
list-style: none;
padding:0px;

}
.twenty
{
word-wrap:break-word;

width:20%;
list-style: none;
padding:0px;
}
.thirty
{
word-wrap:break-word;
width:38%;
list-style: none;
padding:0px;

}
.thirtytwo{
width:32%;
word-wrap:break-word;
list-style: none;
padding:0px;
}
.thirtyone
{
width:31%;
list-style: none;
padding:0px;
text-align:left;
padding-left:10px;
}
.twentyeight
{
width:24%;
list-style: none;
padding:0px;

}
.twentynine
{
width:24%;
list-style: none;
padding:0px;
text-align: center;
}
.trunc{

	width:60px;
}
.trunc1{

	width:400px;
}
.trunc2{

	width:10px;
}
.header_side {

list-style: none;
position:relative;
float:left;
width:96%;
padding-left:10px;

}

.header_side li
{

float:left;
list-style: none;

}
.header_side2 
{
	border:1px solid #22516F;
float:left;
width:102%;
list-style: none;
background:white;
}
.my_order_id,.my_order_datemade,.my_order_price,.my_order_buttons,.my_order_buttons
{
font-size:12px;
font-weight:bold;
}
.header_side2 li
{

list-style: none;
padding:0px;
}
.header_side3 
{
float:left;
width:100%;
list-style: none;
}
.header_side3 li
{
width:20%;
list-style: none;
padding:0px;
}


.header_side4 li
{
width:20%;
float:left;
list-style: none;

}
.header_side5
{
float:left;
width:98%;
list-style: none;
border: 1px solid #22516F;
background: white;
}
.header_side5 li
{

list-style: none;
padding:0px;
background:white;
}
.header_side6 {

list-style: none;
position:relative;
float:left;
width:100%;

padding-bottom:10px;
}

.header_side6 li
{

float:left;
list-style: none;

}
.header_side10
{
position:relative;
list-style: none;
}
.header_side10 li
{

float:left;
list-style: none;
padding-top:5px;
}

.sixty{
width:58%;
padding:0px 5px 0px 5px;
}
.my_quote
 {
	font-size: 11px;
	color:black;
	font-weight: bold;
	padding-left:10px;


	position:left;
	
  }

  .my_quote_id
 {
	font-size: 11px;
	color:black;
	font-weight: bold;
	padding:0px 5px 0px 5px;
 }
.eighty
{
	width:55%;
}

.my_quote2 
 {

	font-size: 10px;
	color:black;
	font-weight: bold;


  }
.my_quote3
 {
	font-size: 12px;
	color:black;
	font-weight: bold;
	

  }

.my_quote4
 {
	font-size: 12px;
	color:black;
	font-weight: bold;

  }
  .my_quote5
 {
	font-size: 10px;
	color:black;
	font-weight: bold;
	text-decoration:underline;

  }
  .orders
 {

	font-size: 11px;
	color:black;
	padding: 5px;
	font-family:Arial, Helvetica, sans-serif;
  }
  .personal li
  {
  list-style:none;
  }
.wrap
{

}
.my_box3 .my_account_title
{
	font-size:18px;
	font-weight:bold	
}
/* Style for Usual tabs */
.usual {

  color:#111;

  padding:15px 20px;
  width:72%;


  float:left;

}
.usual ul { margin:0; padding:0 }

.usual li { list-style:none; float:left; margin:0 }
.usual ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:12px Verdana;
  color:#FFF;
  background:#444;
}
.usual ul a:hover {
  color:#FFF;
  background:#111;
  }
.usual ul a.selected {
  margin-bottom:0;
  color:#000;
  background:snow;
  border-bottom:1px solid snow;
  cursor:default;
  }
.usual div {
  padding:10px 10px 8px 10px;

  clear:left;
  background:snow;
  font:10pt Georgia;
  width:750px;
}
.usual div a:link.festin, .usual div a:visited.festin { text-decoration:underline }
/*! jQuery UI - v1.10.3 - 2013-05-03
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	line-height: normal;
	margin-right: .1em;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
	text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
	width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
	width: 2.4em;
}
.ui-button-icons-only {
	width: 3.4em;
}
button.ui-button-icons-only {
	width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: normal;
}
.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
	padding: .4em;
	text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
	padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

/* button sets */
.ui-buttonset {
	margin-right: 7px;
}
.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
	/* support: IE10, see #8844 */
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	min-height: 0; /* support: IE7 */
	font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}
.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
	background-image: none;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}

.ui-slider-horizontal {
	height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}
.ui-spinner-input {
	border: none;
	background: none;
	color: inherit;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}
.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}
/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
/* vertical centre icon */
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
}
.ui-spinner-up {
	top: 0;
}
.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position: -65px -16px;
}
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 8px 5px 0px 5px;
	background: none;
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.my-title-post{
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
	    width: auto;
    min-width: 0;
    display: table;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.rightinput{
text-align:right;

}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color: #222222;
}
.ui-widget-content a {

}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}
#dialog-message{
width:500px;
}
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(images/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(images/ui-icons_222222_256x240.png);
}
.ui-state-default .ui-icon {
	background-image: url(images/ui-icons_888888_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(images/ui-icons_454545_256x240.png);
}
.ui-state-active .ui-icon {
	background-image: url(images/ui-icons_454545_256x240.png);
}
.ui-state-highlight .ui-icon {
	background-image: url(images/ui-icons_2e83ff_256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url(images/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
}
.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity=30);
	border-radius: 8px;
}
#usual2 {  }
div.usual p:not(:target) {display: none}
div.usual p:target {display: block}

.ui-widget1{

display:block;
}
.pad-left{
padding-left:10px;
}
.pad-top{
padding-top:6px;
}
.pad-right{
text-align:right;
padding-right:5px;
}
.pad-right1{
text-align:right;

}
.gray{
background:gray;
border: 1px solid #22516F;

}
.gray1{
background:gray;
border: 1px solid #22516F;
width:97%;
    margin-left: auto;
    margin-right: auto 
}
.blue{
background:#C2C2FF;
}
.grayish{
background:#E0E0FF;
}
.gray td{

border: 1px solid #22516F;
}
.grayish td{


}
.blue td{


}
.notext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
text-decoration:none;
}
	  .widefat th {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border: 1px solid gray;
font-size: 11px;
background:white;
}
	  .widefat3 th {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border: 1px solid gray;
font-size: 11px;
background:white;
}
.nav{
padding-left:15px;
}
.my_title_class_sitemile{
padding-left: 10px;
}
.widefat {
border-spacing: 0;
width:100%;

}
.widefat3 {
border-spacing: 0;
width:100%;
padding-left:15px;
}
	  .widefat1 th {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
border: 1px solid gray;
font-size: 11px;


color:white;
background:#22516F;
}
	  .widefat1 th a{
color:white;
text-decoration:underline;
}
	  .widefat1 th a:hover{
color:gray;
text-decoration:underline;
}

.widefat1 {
border-spacing: 0;
}
.my_box3 
{

font-size:12px;
color:black;
float:left;
}
.my_box 
{

font-size:12px;
color:black;

}
.my_box4 
{
font-size:12px;
color:black;
width:100%;
float: right;
}
.my_box2
{
font-size:12px;
color:black;
width:98%;
float: right;
}
.my_box5 
{
font-size:12px;
color:black;
float: left;
}
.my_box6 
{
float:left;
font-size:12px;
color:black;
width:77%;
}
.subtotal{
background: url(images/subtotal.gif) no-repeat 50% 0;
line-height: 23px;
border-radius:15px;
}
.addcart{
float:left;
}
.padd10
{
	overflow:hidden;
	padding:10px;
	background-color:rgb(224, 224, 224);
	width:960px;
	margin: auto;

}

.login-submit-form p
{
	overflow:hidden;
	
}
.login-submit-form p label {
min-width: 157px;
float: left;
padding: 0px;
font-size: 12px;
font-weight: bold;
color: #15063D;
color:black;
}


.login-submit p label {
min-width: 157px;
float: left;
padding: 0px;
font-size: 12px;
font-weight: bold;
color: #15063D;
color: black;
}
.xoxo
{
	list-style-type:none;
	padding:0;
	margin:0	
}

.xoxo>li 
{
	display: block;
	margin-bottom: 15px;
	margin-top: 0px;
	color:#000000; 
	overflow:hidden
}
#right-sidebar {
		
		width:20%;
		padding-right:10px;
		float:right;
		
	
	 }

.image_holder{
height:180px;
width:180px;
background:white;
float:bottom;
}
	 .button-left{

vertical-align:middle;
background-image: url(../../../wp-content/themes/Walleto/images/add_to_cart.jpg);

    background-position:  0px 0px;
	background-color:gray;
    background-repeat: no-repeat;
    width: 105px;
    height: 28px;
    border: 0px;
    background-color: #f8f8f8;
    cursor: pointer;
    outline: 0;

}



	 #right-sidebar .widget-container, .widget-container, #left-sidebar .widget-container
{
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
		background-color:white;
	border:5px solid #22516F;
 height:344px;
	 

}
	 #right-sidebar2 .widget-container2, .widget-container2, #left-sidebar2 .widget-container2
{
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
		background-color:#cccccc;
border:1px solid #22516F;

	 

}

#right-sidebar ul>li, #left-sidebar ul>li
{
	text-align: left;
	overflow: hidden;
	position: relative;
	margin: auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
 	background: #fafeff;
	/*background: #E2DFEB;*/
	margin-bottom: 12px;
	
}

#right-sidebar ul li#price-product-details
{
	
}

#my-account-admin-menu
{
	list-style:none;
	overflow:hidden;
	margin:0px;
	padding-left:5px;
	
	
}

.new_div{
padding:5px;
}
#right-sidebar #my-account-admin-menu li
{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	margin-bottom:0px;

}


#my-account-admin-menu li a
{
	
	display: inline-block; 
	padding:6px;
	color:#22516F; 
	text-decoration: none;


	
	position: relative;
	cursor: pointer;
	margin-left:6px;
	font-size:12px;
	width:100%;
	text-align:left;
	margin-bottom:5px;
	border-bottom:1px solid #ddd;
	
}

#my-account-admin-menu li a.active
{
	background:#fff	
}


#my-account-admin-menu li a:hover
{
	background:#e6e6e6;
	color:#4042e3;
	text-decoration:none
	
}
#right-sidebar .account_widget_thing
{
	padding:0px	
}

#right-sidebar .account_widget_thing .widget-title
{
	padding:8px	
}

.top-links 
{
	float:right;

}

.top-links ul
{
	list-style-type:none;
	margin:0;

}

.top-links ul li
{
	float:left;
	margin-right:2px;
	margin-left:2px;
	display:block
}

.top-links a:link , .top-links a:visited
{

	/*color:#15063D;*/
        /*color:#4042e3;*/
	color:black;
	padding:5px;
	text-decoration:none;

	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.bold
{
font-weight:900;
}

a.green_btn:link, a.green_btn:visited {

	/*color: #15063D;*/ 
	color:black;
	text-decoration: none;
	font-size:12px;
	font-weight:bold;
}

a.green_btn:hover
{
		color:#22516F;
		font-weight:bold;
		text-decoration:none;
}
a.green_btn1:link, a.green_btn1:visited {

	/*color: #15063D;*/ 
	color:#40258A;
	text-decoration: underline;
	font-size:12px;
	font-weight:bold;
}

a.green_btn1:hover
{
		color:#22516F;
		font-weight:bold;
		text-decoration:underline;
}
a.green_btn2:link, a.green_btn2:visited {

	/*color: #15063D;*/ 

	text-decoration: underline;
	font-size:12px;
	font-weight:bold;
}

a.green_btn2:hover
{
		color:#22516F;
		font-weight:bold;
		text-decoration:underline;
}
.featured-products .post { margin-top:10px }

.top-links  a:hover
{
	text-decoration:none;
	color:#00A6E5;
	
}
#logins
{
font-size:12px;
list-style-type: none;
font-weight:bold;
}
.rightside{
float:right;
}
.error , .newproduct_error
{
	border:1px solid #BE4C5A;
	background:#FCDCEC;
	color:red;
	border-radius:5px;
}
.bggray{ background:#DBDBDB}
.bg1{ background:}
.bg2{ background:#aaaaaa}
.bg3{ background:#190000; color:#FFFFFF;}
.bg4{ background:#636363; line-height:25px}
.bg5{ background:#FFFFFF}
.red{ color:#e30000}
.black{ color:#000000}

.pad1{
position:relative;
padding: 0 0 0 10px;
}
.pad2{ padding:0 15px}

h2{
	margin:0;
	padding:0;
	font-size:25px;
	color:#6e6e6e;
	border-bottom:2px solid #aaaaaa;
	padding-bottom:2px
}
h3{
	margin:0;
	padding:0;
	font-size:16px;
	line-height:18px
}
h4{
	margin:0;
	padding:0;
	font-size:25px;
	color:#6e6e6e
}
h5{
	margin:0;
	padding:0;
	font-size:20px;
	line-height:23px;
	color:#000000
}

.link1{ text-decoration:underline; color:#000000}
.link1:hover{ text-decoration:none; color:#000000}


/*START iContact Signup Form CSS*/
.link,
.link a,
.signupframe
{
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	}
	.link,
	.link a {
		text-decoration: none;
		}
	.signupframe {
		border: 1px solid #000000;
		background: #000000;
		}
		.link,
.link a,
.signupframe1
{

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	}
	.link,
	.link a {
		text-decoration: none;
		}
	.signupframe1 {

		padding:10px;
		}
.signupframe .required {
	font-size: 10px;
	}
/*END iContact Signup Form CSS*/

.link2{ text-decoration:none; color:#ffffff}
.link2:hover{ color:#f8c300}

.td1{ border:0px solid #878787; background:#f4f4f4}
.td2{
	border:0px solid #878787;
	padding:0px;
	line-height:21px;
	background-color: #dbdbdb;
}
.td3 {
	background:#f4f4f4;
	padding:15px;
	line-height:21px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #878787;
	border-right-color: #878787;
	border-bottom-color: #878787;
	border-left-color: #878787;
}
.td4 {
	background:#f4f4f4;
	padding:15px;
	line-height:21px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #878787;
	border-right-color: #878787;
	border-bottom-color: #878787;
	border-left-color: #878787;
}
.td5{ 
    background:#FFFFFF;
	border-bottom-style: solid;
    border-bottom-width: 1px;
	border-bottom-color: #878787;
}

.box_title
{

	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	/*color:#15063D; */
	margin:auto;
	padding-left:10px;
	text-decoration:underline;
 
}
.box_title1
{

	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	/*color:#15063D; */
	margin:auto;
	text-decoration:underline;
 
}

.padd11
{
	overflow:hidden;

	background-color:white;
	border: 10px solid #666666;
	margin:0px 38px;
}
.this {
float:right;

}
.that {
float:left;

}
.header_side4 {
list-style: none;
position: relative;
float: left;
width: 72%;
padding: 10px 0px 10px 0px;
}


#overlayt {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}
.my_box7 {
float: left;

font-size: 12px;
color: black;
width: 76%;
padding:10px;
}
.my_box8 {
float: left;
padding: 0px 0px 15px 20px;
font-size: 12px;
color: black;
width: 480px;
margin-left: -138%;
}
.my_box8b {
float: left;
padding: 0px 0px 15px 20px;
font-size: 12px;
color: black;
width: 690px;
margin-left: -138%;
}.my_box9 {
float: left;
padding: 0px 0px 15px 20px;
font-size: 12px;
color: black;


}
.my_quote_this{
padding-left:10px;
}
	 #left-sidebar2 {
		


		height:100%;
		padding-top:12px;
	 }
.eula{
padding:20px;
}
#overlayt div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
#example{

	overflow:hidden;
	margin:auto;
}
.border1{ border:0px solid #333333}
.td1 ul{ margin:0; padding:0; font-size:11px;}
.td1 ul li{ margin:0; padding:2px 0 2px 11px; background:url(//localhost/rentscan/wp-content/themes/Walleto/images/bullet.gif) no-repeat 0 5px; list-style:none;}

form{ margin:0; padding:0}
.inp1{ background:url(//localhost/rentscan/wp-content/themes/Walleto/images/inp1bg.gif) repeat-x; margin:2px 0 7px 0; padding:0; border:0; width:222px; height:20px}
.inp2{ background:url(//localhost/rentscan/wp-content/themes/Walleto/images/inp1bg.gif) repeat-x; margin:2px 0 7px 0; padding:0; border:0; width:222px; height:20px}

.footer{
	color:#000
}
.footer a{ color:#000000; line-height:25px}
.footer a:hover{ color:#767676;}
.copy{ font-size:11px}

.sitemap{ font-size:15px; font-weight:bold }
ul.sitemap li{ padding:8px }
.sitemap a{ color:#666666}
.sitemap a:hover{ color:#000000; text-decoration:underline}

ul.faq{
	margin:0;
	padding:0;
	font-size: 16px;
}
ul.faq li{ margin:0; padding:3px; list-style:none}
ul.faq li a{ color:#333333; font-weight:bold; text-decoration:underline}

ul.ul2{ margin:0; padding:11px 0 11px 15px;}
ul.ul2 li{ margin:0; padding:1px;}

ul.ul3{ margin:0; padding:7px 0 0 0;}
ul.ul4 {
	margin:0;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

ul.ul3 li{ margin:0; padding:1px 0 1px 13px; background:url(../images/bullet.gif) no-repeat 0 8px; list-style:none;}
ul.ul4 li {
	margin:0;
	padding:1px 0 1px 13px;
	background:url(../images/bullet.gif) no-repeat 0 8px;
	list-style:none;
}
.image1{
background : url(//localhost/rentscan/wp-content/themes/Walleto/images/form_top.gif); 


}
.size1{
	font-size:12pt;
	position:relative;
	top: -15px;
	right: 3px;
}
.size2{
	position:relative;
	font-size:8pt;
	top:-2px;
	_top:-13px;
}
.size3{
	position:relative;
	font-size:9px;
	top:-4px;
	_top:-7px;
}
.size5 {
	position:relative;
	font-size:7px;
	top:0px;
	_top:-7px;
	right: 1px;
}

.size4{font-size:8px;}
.phone {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}

.card {
	font-style: italic;
	font-size: 10px;
	text-align: right;
	vertical-align: middle;
	font-weight: bold;
	margin: 5px;
}
.form{
padding-bottom:10px;
}
.block{
display:inline-block;
}
#from{
width:75px
}
#to{
width:75px;
}
